<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../assets/carousel/c1.jpg" alt="...">
            
            <div class="carousel-caption carousel-caption-fix hidden-xs">
                    <h1>先让一部分孩子为未来编程</h1>
                    <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
                    </p>
            </div>
            <div class="carousel-caption visible-xs">
                    <h1>先让一部分孩子为未来编程</h1>
                    <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
                    </p>
            </div>
        </div>
        <div class="item">
            <img src="../assets/carousel/c2.jpg" alt="...">
            <div class="carousel-caption carousel-caption-fix hidden-xs">
                    <h1>先让一部分孩子为未来编程</h1>
                    <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
                    </p>
            </div>
            <div class="carousel-caption visible-xs">
                    <h1>先让一部分孩子为未来编程</h1>
                    <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
                    </p>
            </div>
        </div>
        <div class="item">
            <img src="../assets/carousel/c3.jpg" alt="...">
            <div class="carousel-caption carousel-caption-fix hidden-xs">
                    <h1>先让一部分孩子为未来编程</h1>
                    <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
                    </p>
            </div>
            <div class="carousel-caption visible-xs">
                    <h1>先让一部分孩子为未来编程</h1>
                    <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
                    </p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- <div class="jumbotron jumbotron-bg">
    <div class="container">
        <h1>先让一部分孩子为未来编程</h1>
        <p class="hidden-xs">使用 Scratch，你可以编写属于你的互动媒体，像是故事、游戏、动画，然后你可以将你的创意分享给全世界。 Scratch 帮助年轻人更具创造力、逻辑力、协作力。 这些都是生活在 21 世纪不可或缺的基本能力。 Scratch是MIT媒体实验室终生幼儿园小组开发的一个免费项目。
        </p>
        <p>
            <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">立即预约</a>
        </p>
    </div>
</div> -->
<hr/>
<div class="container">





    <div class="media">
        <div class="media-left">
            <a href="#" class="hidden-xs">
                <img class="media-object" src="assets/scratch-256x256.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Scratch是什么?</h2>
            cratch是一款由麻省理工学院（MIT） 设计开发的少 儿编程工具。其特点是：使用者可以不认识英文单词，也可以不 会使用键盘。构成程序的命令和参数通过积木形状的模块来实现。用 鼠标拖动模块到程序编辑栏就可以了。 右边的部分是编辑好的程序代
            码，中间是可以用来选择的功能模块，左边上部是程序预览和运行窗口，左边下部是角色窗口。
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#" class="hidden-xs">
                <img class="media-object" src="assets/scratch-256x256.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">我们能做什么?</h2>
            cratch是一款由麻省理工学院（MIT） 设计开发的少 儿编程工具。其特点是：使用者可以不认识英文单词，也可以不 会使用键盘。构成程序的命令和参数通过积木形状的模块来实现。用 鼠标拖动模块到程序编辑栏就可以了。 右边的部分是编辑好的程序代
            码，中间是可以用来选择的功能模块，左边上部是程序预览和运行窗口，左边下部是角色窗口。
        </div>
    </div>
    <hr>







</div>
<app-teachers></app-teachers>
<app-course></app-course>