<div class="container">
    <h3>源码少年Scratch系列课程 <span class="label label-danger">新</span></h3>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr><td>等级</td><td>课时</td><td>学习目标</td></tr>
        </thead>
        <tbody>
            <tr><td>LEVEL 1</td><td>14</td><td>入门</td></tr>
            <tr><td>LEVEL 2</td><td>26</td><td>基础知识培养</td></tr>
            <tr><td>LEVEL 3</td><td>20</td><td>大型项目</td></tr>
            <tr><td>LEVEL 4</td><td>20</td><td>自主创新硬件编程</td></tr>
        </tbody>
    </table>
</div>