<div class="bg-primary footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="https://scratch.mit.edu/" target="_blank">Scratch</a>
            </div>
            <div class="col-md-6 text-right">
                <a href="https://angular.io/" target="_blank">Angular</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="http://www.bootcss.com/" target="_blank">Bootstrap</a>
            </div>
            <div class="col-md-6 text-right">
                 <a href="https://github.com/" target="_blank">Github</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright©2018 代码受MIT风格协议保护 | 文档最终解释权归 横趣 HENGQU 有限责任公司版权所有</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <P>...</P>
            </div>
        </div>
    </div>
</div>