<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default navbar-fixed-top">
    <!-- 提示网站开发中 -->
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>友情提示!</strong> 我们的网站正在努力开发中，敬请期待。
      </div>
        <div class="container-fluid">
           
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
             
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home">
                <img alt="Codingjunior" class="logo" src="../assets/logo.png">
            </a>
            </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink='/home'>网站首页<span class="sr-only">(current)</span></a></li>
              <li><a routerLink="/signup">立即预约</a></li>
              <li><a routerLink="/course">课程介绍</a></li>
              <li><a routerLink="/worksshow">作品展示</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/aboutus">关于我们</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">致家长</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">致学生</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>