<div class="container">
<h3>优秀教师</h3>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="../assets/zhuangkun.jpg" alt="...">
        <div class="caption">
          <h3>唐泽坤</h3>
          <p>...</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="../assets/zhengmin.jpg" alt="...">
          <div class="caption">
            <h3>郑敏</h3>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="../assets/tiankun.jpg" alt="...">
          <div class="caption">
            <h3>田坤</h3>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="../assets/zhengjian.jpg" alt="...">
            <div class="caption">
              <h3>郑键</h3>
              <p>...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <img src="../assets/yanglin.jpg" alt="...">
              <div class="caption">
                <h3>杨林</h3>
                <p>...</p>
              </div>
            </div>
          </div>
  </div>
</div>